<main class="main">
  <div class="inner">
   <% if user_signed_in? %>
    <%# ログインしているときは以下を表示する %>
       <div class="greeting"> 
        <%= "こんにちは" %>
      <%= link_to "#{current_user.name}さん",new_user_session_path, class: :greeting__link%>
       </div> 
        
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
       <%= render partial: 'prototype', collection: @prototypes %>
    </div>
  </div>
   <% else %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
             <% end %>
</main>